<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <!-- this form will send a POST request to the '/comments' route -->
    <form action="/comments" method="post">
        <section>
        <label for="username">Enter Username:</label>
        <input type="text" placeholder="username" id="username" name="username">
    </section>
    <section>
        <label for="comment">Comment Text</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
    </section>
    <button type="submit">Submit</button>
    </form>
    <a href="/comments/index">All comments</a>
</body>
</html>